__pycache__
**.pyc
.ipynb_checkpoints
.pytest_cache
**.code-workspace

docs/build/*

# for pip --editable installs
*.egg-info
build
ppl_benchmark/__version__.py
ppl_benchmark/logs/*
results

# ignore data folder, include empty folders, see .gitignore in each subfolder
data/*
!data/0_raw/
!data/1_processed/
!data/2_models/
!data/dummy_test_data/

# ignore local configs
ppl_benchmark/config/local
ppl_benchmark/config/local/
ppl_benchmark/config/local/*

# ignore specific data files
*.h5
*.hdf5
*.csv
*.log
*.pkl

# ignore reports folder, NOTE: it includes empty folders, see .gitignore in each subfolder
reports/*

# ignore scanner files
deps.html
deps.pdf
deps.md

# ignore package files
dist/*

# ignore dice game files
dice_progress.png